.advertising-product.preview {
    display: inline-block;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
}
.advertising-product.preview.status-red {
    border: 3px solid red;
}
.advertising-product.preview.status-yellow {
    border: 3px solid orange;
}
.advertising-product.preview.status-green {
    border: 3px solid green;
}
